
<div class="parametros">
    <div class="buscador">
        <div class="input-group mb-1">
            <input type="text" id="busqueda" class="form-control" placeholder="Héctor Leonel" name="txtBusqueda">
            <span class="input-group-text" style="cursor: pointer">
                <button class="bi bi-search" title="Buscar"></button>
            </span>
        </div>
    </div><br>
    <div class="filtros">
        <select name="Filtro 1" id="">
            <option value="Órden" selected disabled hidden> Órden </option>
            <option value="Filtro 1"> Filtro 1 </option>
            <option value="Filtro 2"> Filtro 2 </option>
            <option value="Filtro 3"> Filtro 3 </option>
        </select>
        <select name="Filtro 2" id="">
            <option value="Departamento" selected disabled hidden> Departamento </option>
            <option value="Filtro 1"> Filtro 1 </option>
            <option value="Filtro 2"> Filtro 2 </option>
            <option value="Filtro 3"> Filtro 3 </option>
        </select>
        <select name="Filtro 3" id="">
            <option value="Puesto" selected disabled hidden> Puesto </option>
            <option value="Filtro 1"> Filtro 1 </option>
            <option value="Filtro 2"> Filtro 2 </option>
            <option value="Filtro 3"> Filtro 3 </option>
        </select>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body{
        font-family: 'Roboto', sans-serif;
        margin: 0;
        height: 100vh;
        width: 100vw;
    }

    .parametros{
        display: flex;
        margin-top: 1%;
        gap: 1%;
        width: 90%;
        margin-bottom: 1%;
    }
    .buscador{
        width: 50%;
        gap: 5%;
        text-align: center;
    }
    .filtros{
        width: 50%;
        display: flex;
        gap: 2%;
        height: 44px;
    }
    select{
        width: 50%;
        border-radius: 5px;
    }
</style>