<select type="select" class="form-control" name="{{name}}" id="{{id}}">
    <option value="Nada" selected hidden> Seleccione </option>
    {{#each municipios}}
    <option value="{{MunicipioId}}"> {{Descripcion}} </option>
    {{/each}}
</select>