<head>
    <title>CMS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styleNavbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav class="menu">
    <div class="logo">
        <a href="/cms">
            <img style="height:100%; width:auto; display:inline-block;" src="https://cdn.domestika.org/c_fill,dpr_auto,f_auto,h_256,pg_1,t_base_params,w_256/v1505584180/avatars/000/596/250/596250-original.jpg?1505584180">
        </a>
    </div><br>
    <div class="dropdown">
        <div class="dropdown">
            {{#unless varias}}
                <button class="dropbtn" onclick="myFunction()">{{EMPRESA}}</button>
            {{else}}
                <button class="dropbtn" onclick="myFunction()">EMPRESAS
                    <i class="fa fa-caret-down"></i>
                </button>
            {{/unless}}
            <div class="dropdown-content" id="myDropdown">
                {{#each empresa}}
                    <a href="#{{EMPRESA}}"> {{EMPRESA}} </a>
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- <div class="dropdown">
        <div class="dropdown2">
            <a href="/seccion">
                <button class="dropbtn"> DASHBOARD 1</button>
            </a>
        </div> 
    </div> --}}

       <div class="dropdown">
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunctionDashboard()">DASHBOARD
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown3">
                <a href="/seccion"> DASHBOARD ADMIN</a>
                   <a href="/seccion2"> DASHBOARD USUARIO</a>
                      <a href="/seccion3"> DASHBOARD ADMIN/USUARIO</a>
             
            </div>
        </div>
    </div>


    <div class="dropdown">
        <div class="dropdown1">
            <a href="/tabla">
                <button class="dropbtn"> COLABORADORES</button>
            </a>
        </div> 
    </div>
    {{#ifCond user.user '!=' 'Colaborador'}}
    <div class="dropdown">
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunctionCatalogos()">CATÁLOGOS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown1">
                <a href="/alta_Empresas"> EMPRESA </a>
                <a href="/alta_TipoUsuario"> TIPOS DE USUARIO </a>
                <a href="/alta_Departamentos"> DEPARTAMENTOS </a>
                <a href="/alta_Puestos"> PUESTOS </a>
                <a href="/alta_Transitorios"> TRANSITORIOS </a>
            </div>
        </div>
    </div>
    {{/ifCond}}
    {{#ifCond user.user '!=' 'Colaborador'}}
    <div class="dropdown">
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunctionExtras()">EXTRAS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown4">
                <a href="/extras_calendario"> CALENDARIO </a>
                <a href="/extras_vacaciones"> VACACIONES </a>   
            </div>
        </div>
    </div>
    {{/ifCond}}
    {{#ifCond user.user '!=' 'Colaborador'}}
    <div class="dropdown">
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunctionInfoAdicional()">INFORMACION COLABORADOR(Admin)
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown2">
                <a href="/alta_Colaborador"> COLABORADOR </a>
                {{#ifCond user.user '==' 'SuperAdministrador'}}
                    <a href="/alta_infoEmpresa"> INFORMACIÓN DE EMPRESA-COLABORADOR </a>
                {{/ifCond}}
                <a href="/info_Principal"> INFORMACIÓN PRINCIPAL </a>
                <a href="/info_Adicional"> INFORMACION ADICIONAL </a>
                <a href="/info_Emergencia"> DATOS DE EMERGENCIA </a>
                <a href="/info_Estudios"> DATOS DE ESTUDIOS </a>
                <a href="/info_Salud"> INFORMACIÓN DE SALUD </a>
            </div>
        </div>
    </div>
    {{/ifCond}}
    <div class="dropdown">
        <div class="dropdown3">
            <div class="boton">
                <a href="/login" onclick="cerrarSesion()">
                    <button class="dropbtn" >LOGOUT</button>
                </a>
                <script src="/js/script_logout.js"></script>
            </div>
        </div> 
    </div>
</nav>
<script src="/js/script_navbar.js"></script>