  <div class="linea3">
                <div class="col-sm-4 cuadro">
                    FECHA INGRESO <br>
                    {{FECHA}}
                </div>
                <div class="col-sm-4 cuadro">
                    DIAS DE VACACIONES <br>
                    {{VACACIONES}} DIAS
                </div>
                <div class="col-sm-4 cuadro">
                    DIAS ECONOMICOS <br>
                    {{ECONOMICOS}} DIAS
                </div>

            </div>
            
            <div class="linea2">
                <div class="col-sm-4 cuadro">
                    FALTAS
                </div>
                <div class="col-sm-4 cuadro">
                    RETARDOS
                </div>
                <div class="col-sm-4 cuadro">

                </div>

            </div>