<div class="contenedor">
    <div class="tabla">
        <table>
            <thead>
                <th style="width: 0.5%;">User_Id</th>
                <th style="width: 5%;">Full_Name</th>
                <th style="width: 5%;">Email</th>
                <th style="width: 5%;">Country</th>
                <th style="width: 5%;">Created_At</th>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{User_Id}}</td>
                    <td>{{Full_Name}}</td>
                    <td>{{Email}}</td>
                    <td>{{Country}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
</div>
<script src="/js/script_paginas.js"></script>
<style>
    .contenedor{
        width: 90%;
        height: auto;
        float: left;
    }
    .tabla{
        width: 100%;
        text-align: center;
        border-width: 1px;
    }
    table{
        width: 100%;
        border: 1px solid black;
        border-width: 1px;
    }
    thead, td, tr, th, tbody{
        border: 1px solid black;
    }
    .te{
        width: 1%;
    }
</style>