{{> headPlantilla}}
<div class="pantalla" id="todo">
        <div class="nav">
            {{> navbar}}
        </div>
    <div id="container">
        <div class="contenedor">
            {{> tablaFinal}}
        </div>
    </div>
</div>

