{{> headPlantilla}}
<div class="pantalla" id="todo">
    {{> navbar}}
    <div id="container">
        <div class="contenedor">
            {{> tablaFinal}}
        </div>
    </div>
</div>

<style>
    .pantalla{
        width: 100vw;
        display: flex;
    }
    .container, .contenedor{
        width: 100%;
        padding-left: 5%;
    }
</style>