<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <br><br>
    <form class="mt-5" id="formLogin" method="get" action="/rt_login">
        <div class="titulo">
            <label class="tit"> Inicio de Sesion </label><br>
        </div>
        <div class="mb-3 rec">
            <div class="lab">
                <label class="form-label"> Usuario </label>
                <label class="form-label"> Contraseña </label>
            </div>
            <div class="ins">
                <input type="input" class="form-control" placeholder="Héctor Leonel" name="txtUsuario">
                <input type="password" class="form-control" placeholder="Rodríguez Ramírez" name="txtContrasena">
            </div>
        </div><br>
        <div class="but">
            <button type="submit" class="btn btn-dark" onclick="onRegistro(event)"> Iniciar Sesion </button>
        </div>
    </form>


    <script src="/js/script_login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
