<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <br><br>
    <form class="mt-5" id="formLogin" method="post" action="/landing">
        <div class="titulo">
            <label class="tit"> Inicio de Sesion </label><br>
        </div>
        <div class="mb-3 rec">

            <div class="ins">
                <label class="form-label"> Correo Electrónico: </label>
                <input type="input" class="form-control" placeholder="hector@prointernet.mx" name="txtCorreo" value="{{txtCorreo}}"> <br>
                <label class="form-label"> Contraseña: </label>
                <div class="input-group mb-3">
                    <input type="password" id="password" class="form-control" placeholder="••••••••" name="txtContrasena">
                    <span class="input-group-text">
                        <i class="bi bi-eye" style="cursor: pointer" title="Mostrar Contraseña" id="togglePassword"></i>
                    </span>
                </div>
            </div>
        </div><br>
        <div class="but">
            <button type="submit" class="btn btn-dark" style="margin-bottom: 20px;" onclick="onRegistro(event)"> Iniciar Sesion </button> <br>   
        </div>
    </form>
    <script>
        const togglePassword = document.getElementById("togglePassword");
        const password = document.getElementById("password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            // toggle the eye icon
            this.classList.toggle('bi-eye');
            this.classList.toggle('bi-eye-slash');
        });
    </script>

    <script src="/js/script_login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>

{{!-- PRUEBA --}}

 <div style="width:690px; height:550px; background-color:rgb(255, 255, 255); display:block; margin-left: auto; margin-right:auto;">

    <div style="width:100%; height:10%; margin-top:2%;align-items:center; ">
        <img style="height:90%; width:auto; display:inline-block;"
            src="https://cdn.domestika.org/c_fill,dpr_auto,f_auto,h_256,pg_1,t_base_params,w_256/v1505584180/avatars/000/596/250/596250-original.jpg?1505584180">
    </div>

    <div style=" background-color:rgb(127,176,6); height:8% ;">
    <label style="font-size:25px; color:rgb(127,176,6); vertical-align:bottom; "></label>
    </div>

    <div style=" background-color:rgb(127,176,6); height:8% ;">
        <label style="font-size:25px; color:white; vertical-align:bottom; ">Código de verificación</label>
    </div>

    <div style="text-align: justify;">
        <br>
         Hola, ${req.body.txtNombre} <br><br>

         Recibimos una solicitud para modificar la contraseña de su cuenta: ${correo} <br><br>
         

          <div style="margin-right: auto; margin-left: auto; width: 100%; display: flex;">
            <label style="text-align:center; width:100%; font-size:25px;"><b>Nueva contraseña:</b>${contrasena}</label>
          </div><br><br>

         Si no solicitaste este código, es posible que otra persona esté intentando acceder a la cuenta: ${correo} <br>
         No reenvíes ni proporciones este código a otra persona.<br><br>
     
         Atentamente.<br><br>

         El equipo de ProInternet<br><br>
    </div>

</div>